[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "*"
redis = "*"
xmltodict = "*"
aredis = "*"
nonebot2 = "*"
pillow = "*"
efficientnet = "*"
transforms = "*"
touch = "*"
torch = "*"
efficientnet-pytorch = "*"
torchvision = "*"

[requires]
python_version = "3.8"
